body{
  padding: 0 ;
  margin: 0;
}

header{
	position: fixed;
	
	width: 100%;
	height: 50px;
}

#list-left li {
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
}

#list-right li {
	display: inline;
	float: right;
}

#list-left a,
#list-right a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
  background-color: none;
  color: yellow;
  padding: 12px;
  border-top: 1px solid none;
  border-right: 1px solid none;
  border-bottom: 1px solid none;
  border-left: 1px solid none;
}


#list-right a:hover,
#list-left a:hover {
	background-color: rgba(1000, 300, 300, 0.1);
}

#list-right li:nth-child(1) a {
	margin-right: 50px;
}

.main-heading {
	margin-top: 0 !important;
	padding-top: 150px;
	color: white;
}

.small-heading {
	color: white;
}

hr {
	width: 50%;
}

.about-paragraph {
	font-weight: bold;
	color: red;
	padding-bottom: 50px;
}

.about-span {
	color: white;
	font-weight: bold;
}

.rules-and-stories {
	padding-left: 50px;
	color: white;
}

#one{
	height: 1050px;
	background-image: url('pictures/one.jpg');
	background-attachment: fixed;
	background-size: cover;
}

#two{
	height: 1000px;
	background-image: url('pictures/two.jpg');
	background-attachment: fixed;
	background-size: cover;
}

#three{
	height: 1000px;
	background-image: url('pictures/four.jpg');
	background-attachment: fixed;
	background-size: cover;
}